body
{
    /* background-color: rgb(197, 230, 241); */
}


.jumbotron
{
    background-color:white;
    height: auto;
    /* margin-top: 50px; */
    
}

.btn{
    margin-top: 40px;
    margin-left: 40px;
}

.name{
    /* background-color: aquamarine; */
    display: flex;
}

.nametext{
    /* background-color: khaki; */
    /* text-align: center; */
    /* text-align: justify; */
    margin-top: 70px;
    /* line-height: 50%; */
}

.nametext>h1{
    font-size: 70px;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.nametext>p{
    font-weight: 370;
    font-size: 20px;
    padding: 5px;
}

.nameimg{
    /* background-color: lawngreen; */

}
.nameimg>img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* about */
.about{

    /* background-color: lightcoral;     */
    margin-top: 100px;
}

.about>h1{
    font-size: 50px;
    margin-left: 20px;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.about>h2{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.about>p
{
    padding: 20px;
    font-size: 20px;
}

.about>a{
    margin-left: 30px;

}

.about>a>img{
    width: 30px;
    height: 30px;
}

/* education */

.education{

    margin-top: 100px;
    /* background-color: chartreuse; */
}

.education>h1{
    font-size: 50px;
    margin-left: 20px;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}

.edu{
    margin-top: 40px;
    /* background-color: chartreuse; */
}

.edu>h1{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 40px;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}

.edu>p{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 0px;
    /* height: auto; */
}




/* tech */

.tech{
    /* background-color: lightgreen; */
    margin-top: 100px;
    /* border: 1px solid red; */
    
}

.tech>h1{
    font-size: 50px;
    /* margin-left: 5px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 400;

}


.skillcontainer{
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
    height: auto;
    padding: 0px;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; */
    /* border:1px solid red; */
  
    
}

.skill{
    display: flex;
    /* width: auto;
    height: auto; */
    /* justify-content: center; */
    padding: 5px;
    /* background-color: rosybrown; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom:0px;
    
}
.skills:hover{
    /* background-color: lightcyan; */
}


.skill>h3{
    font-size: 25px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: 3px;
}



/* experience */
.experience{
    margin-top: 100px;
    /* background-color: lightseagreen; */
}

.experience>h1{
    font-size: 50px;
    margin-left: 20px;
    font-weight: 300; 
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}

.exp{
    margin-top: 40px;
    /* background-color: chartreuse; */
}

.exp>li{
    margin-top: 30px;
    margin-left:20px ;
    font-size: 30px;
    font-weight: 200; 
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.exp>a{
    margin-top: 30px;
    margin-left:60px ;
    font-size: 20px; 
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.exp>h2{
    margin-top: 3px;
    margin-left:60px ;
    font-size: 20px; 
    color: grey;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.exp>h3{
    margin-top: 3px;
    margin-left:60px ;
    font-size: 20px; 
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}



/* work */
.mywork{
    margin-top: 100px;
    /* background-color: hotpink; */

}
.mywork>h1{
    font-size: 50px;
    margin-left: 20px;
    font-weight: 400;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

}
.work
{
    margin-top: 40px;
    /* background-color: lightgreen; */
}

.work>li{
    margin-top: 30px;
    margin-left:20px ;
    font-size: 30px; 
    font-weight: 400; 

    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.work>h1{
    margin-top: 3px;
    margin-left:60px ;
    font-size: 20px; 
    font-weight: 400; 
    color: grey;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.work>p{
    margin-top: 10px;
    margin-left:60px ;
    font-size: 20px; 
    font-weight: 400; 

    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}


.work>.btn
{
    margin-left: 60px;
    margin-top: 0px;
    /* width: 100px; */
}

.work>.btn>a{
    text-decoration: none;
    color: white;
}

.work>a{
    /* background-color: chocolate; */
    margin-left: 30px;
}

.work>a>img{
    margin-top: 0px;
    /* margin-left: 10px; */
    height: 45px;
    width: 45px;
    /* display: inline-flex; */
    /* overflow: hidden; */
    /* background-color: chocolate; */
}

